2-FunctionNodes.txt
[{"id":"4e8c236f.6f28dc","type":"inject","z":"f703bc05.b4d75","name":"","topic":"","payload":"today is a great day","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":140,"wires":[["204df715.a285c8"]]},{"id":"94969baa.02ad58","type":"debug","z":"f703bc05.b4d75","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":140,"wires":[]},{"id":"204df715.a285c8","type":"function","z":"f703bc05.b4d75","name":"","func":"var newMsg = { payload: msg.payload.length };\nreturn newMsg;","outputs":1,"noerr":0,"x":390,"y":140,"wires":[["94969baa.02ad58"]]}]