4-SwitchNode-incomplete.txt
[{"id":"395c25eb.21939a","type":"inject","z":"7dcb76b.7c19c88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["3a01fa6.780c806"]]},{"id":"3a01fa6.780c806","type":"switch","z":"7dcb76b.7c19c88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":140,"wires":[["64987999.0fd308"]]},{"id":"c80a1363.21fe2","type":"debug","z":"7dcb76b.7c19c88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":140,"wires":[]},{"id":"64987999.0fd308","type":"switch","z":"7dcb76b.7c19c88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":140,"wires":[["c80a1363.21fe2"]]},{"id":"71249bec.273a94","type":"switch","z":"7dcb76b.7c19c88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":200,"wires":[["c80a1363.21fe2"]]}]