5-HTTPRequest-QuakeAlert-Exercise.txt
[{"id":"ddd62b55.d10ed8","type":"inject","z":"8152914b.3371a","name":"Quakes","topic":"","payload":"","payloadType":"str","repeat":"900","crontab":"","once":true,"onceDelay":"","x":180,"y":260,"wires":[["9469c180.43b03"]]},{"id":"9469c180.43b03","type":"http request","z":"8152914b.3371a","name":"","method":"GET","url":"http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_day.csv","tls":"","x":390,"y":260,"wires":[["1998fca1.34cbe3"]]},{"id":"1998fca1.34cbe3","type":"csv","z":"8152914b.3371a","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":0,"x":570,"y":260,"wires":[["aaa27a15.dc6708","25a38ea2.3c4392"]]},{"id":"b9f95268.56594","type":"comment","z":"8152914b.3371a","name":"Earthquake !!!","info":"","x":210,"y":200,"wires":[]},{"id":"aaa27a15.dc6708","type":"switch","z":"8152914b.3371a","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":320,"wires":[["dfb13d99.f4878"]]},{"id":"dfb13d99.f4878","type":"change","z":"8152914b.3371a","name":"change","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":320,"wires":[["25a38ea2.3c4392"]]},{"id":"25a38ea2.3c4392","type":"debug","z":"8152914b.3371a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":260,"wires":[]}]