Module 4/2-Sense Env Data - Temperature Only.txt
[{"id":"c55e44e3.dacd88","type":"rpi-sensehat in","z":"d0234611.29cbf8","name":"","motion":false,"env":true,"stick":false,"x":250,"y":240,"wires":[["2b16b55c.845f1a"]]},{"id":"edd2be97.0fdfa","type":"debug","z":"d0234611.29cbf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":240,"wires":[]},{"id":"2b16b55c.845f1a","type":"function","z":"d0234611.29cbf8","name":"temperature","func":"msg.payload = msg.payload.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":240,"wires":[["edd2be97.0fdfa"]]}]