Module 4/3-Display Temperature Data-Exercise.txt
[{"id":"d0234611.29cbf8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b36b3ae7.5afa58","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d4179691.dd5ee8","type":"ui_tab","z":"","name":"Environmental Data","icon":"toys","disabled":false,"hidden":false},{"id":"5640076.eee10f8","type":"ui_group","z":"","name":"Dashboard","tab":"d4179691.dd5ee8","disp":true,"width":"6","collapse":false},{"id":"c55e44e3.dacd88","type":"rpi-sensehat in","z":"d0234611.29cbf8","name":"","motion":false,"env":true,"stick":false,"x":170,"y":220,"wires":[["2b16b55c.845f1a"]]},{"id":"edd2be97.0fdfa","type":"debug","z":"d0234611.29cbf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":200,"wires":[]},{"id":"2b16b55c.845f1a","type":"function","z":"d0234611.29cbf8","name":"Environmental Data","func":"var temp = {payload: msg.payload.temperature};\nvar press = {payload: msg.payload.pressure};\nvar humid = {payload: msg.payload.humidity};\n\nreturn [temp,press,humid];","outputs":3,"noerr":0,"x":410,"y":220,"wires":[["edd2be97.0fdfa","53f69a97.ffc044"],["347acb86.1151c4"],["601c0880.c79d38"]]},{"id":"53f69a97.ffc044","type":"ui_gauge","z":"d0234611.29cbf8","name":"Temperature","group":"5640076.eee10f8","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":260,"wires":[]},{"id":"347acb86.1151c4","type":"ui_gauge","z":"d0234611.29cbf8","name":"Pressure","group":"5640076.eee10f8","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":"500","max":"1200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":360,"wires":[]},{"id":"601c0880.c79d38","type":"ui_gauge","z":"d0234611.29cbf8","name":"Humidity","group":"5640076.eee10f8","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":400,"wires":[]}]